.top-container {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
gap: 2%;
  margin-bottom: 3%;

}
.title-image {
  width: 50px;

  margin-bottom: 10px;
}
h1 {
  margin: 0;
}
#copyImg {
  width: 8%;
  height: 4%;
}

body {
  background-color: #2A2630;
  color: white;
}


/*.mail-section {*/
/*  margin-top: 8%;*/
/*  margin-left: 28%;*/
/*  font-size: 120%;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 1%;*/
/*  align-items: center;
/*  justify-content: center;*/
/*  text-align: center;*/
/*  border: 3px dashed dimgray;
/*  padding: 20px;
/*  width: 40%;
/*  height: 40%;
/*}*/


.mail-section {
  margin-top: 2%;
  margin-left: 28%;
  font-family: Futura;
  font-size: 110%;
  display: flex;
  gap: 1%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column; /* vertical arrangement */
  border: 3px dashed dimgray;
  padding: 20px;
  width: 40%;
  height: 40%;
}
.rounded-content {
  /*display: inline-block;*/
  padding: 16px;
  border: 2px solid white; /* You can adjust the color and width as needed */
  border-radius: 50%;
}
.rounded-image {
  border: 2px solid white; /* You can adjust the color and width as needed */
  border-radius: 50%;
}
.mailbox-text {
  text-align: center;
  padding-top: 50px;
  color: #7a7c80;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace!important;
  font-weight: 500;
  margin: 0 auto;
}
.mailbox-text p {
  max-width: 600px;
  margin: 0 auto;
}

.content-container {
  display: flex;
  margin-left: 2%;
  gap: 3%;
  align-items: center;
  justify-content: center;
  flex-direction: row; /*horizontal arrangement */
}


/*#countdown {*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/

/*}*/
.window-container {
  max-width: 750px;
  height: 55%;
  border: 2px solid white;
  border-radius: 25px;
  padding: 20px;
margin: 0 auto;
  box-sizing: border-box;
  background-color: #2A2630;
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
main {
  margin-top: 7%;
  background-color: white;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  height: 120vh;
}
.centered-buttons {
  display: flex;
  gap: 2%;
  justify-content: center;
  align-items: center;

}
.custom-button {
  margin-top: 2%;
  font-size: 100%;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #fff;
  color: black;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content-main {

  display: flex;
  font-family: Futura;
  font-size: 65%;
  justify-content: center;
  gap: 95%;
  margin-bottom: 20px;
}
.inbox-empty-msg
{
  /*margin-top: 15%;*/
  font-size: 100%;

  text-align: center;
  color: white;
}
.content-divider {
  border-bottom: 3px solid white;
  width: 110%;

  box-sizing: border-box;
}

.emptyInboxTitle
{
  font-size: 18px;
  font-family: Roboto Mono,monospace;
  font-weight: 400;
  font-style: normal;

}

.mailfloating
{
  height: 200px;

}




